<footer class="footer">
	<small>
		Website by Mohamed Ahmed 
	</small>
	<nav>
		<ul>
			<li><p><%= link_to "About", about_path %></p></li>
			<li><p><%= link_to "Contact", contact_path %></p></li>

		</ul>
	</nav>


</footer>